In [1]:
import json
import random
from pathlib import Path

import pandas as pd

%load_ext autoreload
%autoreload 2
Path.ls = lambda x: list(x.iterdir())

In [2]:
numbers_df = pd.read_csv("district_info.csv")
numbers_df

                           District  CaseCount  BusCount  QTNCount
0                        Kalaburagi          3       6.0         4
1                            Kodagu          1      27.0        47
2                   Chikkaballapura          4       0.0         9
3                            Mysuru          3      19.0       231
4                           Dharwad          1      12.0        39
5                    Uttara Kannada          4      23.0        23
6                 Dhakshina Kannada          5      82.0       756
7                             Udupi          1      29.0       414
8                            Tumkur          1       1.0        78
9                        Shivamogga          0      43.0        99
10                   Chikkamagaluru          0      32.0        27
11                       Davanagere          0      28.0        58
12                          Ballari          0      13.0        44
13                          Raichur          0      12.0        41
14                         Belagavi          0      11.0        16
15                       Vijayapura          0       5.0         4
16                            Gadag          0       3.0        16
17                           Haveri          0       3.0         5
18                           Hassan          0       1.0        75
19                        Bagalkote          0       0.0        26
20  Bengaluru (Urban, Rural & BBMP)          0       0.0      7315
21                   Chamrajanagara          0       0.0         6
22                            Kolar          0       0.0         6
23                           Kolara          0       0.0         8
24                          Koppala          0       0.0         6
25                           Mandya          0       0.0         8
26                       Ramanagara          0       0.0         8

In [3]:
passenger_count = 60
private_bus_to_public_bus = 50
travel_risk = 1 / 10 ** 5
confirmed_risk = 20
qtn_risk = 1 / 10 ** 3

In [4]:
df = numbers_df

In [5]:
df["AtRisk"] = (
    numbers_df["BusCount"]
    * passenger_count
    * private_bus_to_public_bus
    / passenger_count
    * private_bus_to_public_bus
    * travel_risk
    + numbers_df["QTNCount"] / qtn_risk
    + confirmed_risk * numbers_df["CaseCount"]
).astype(int)

In [6]:
df.sort_values(by=["AtRisk"], ascending=False)[["District", "AtRisk"]]

                           District   AtRisk
20  Bengaluru (Urban, Rural & BBMP)  7315000
6                 Dhakshina Kannada   756102
7                             Udupi   414020
3                            Mysuru   231060
9                        Shivamogga    99001
8                            Tumkur    78020
18                           Hassan    75000
11                       Davanagere    58000
1                            Kodagu    47020
12                          Ballari    44000
13                          Raichur    41000
4                           Dharwad    39020
10                   Chikkamagaluru    27000
19                        Bagalkote    26000
5                    Uttara Kannada    23080
14                         Belagavi    16000
16                            Gadag    16000
2                   Chikkaballapura     9080
25                           Mandya     8000
23                           Kolara     8000
26                       Ramanagara     8000
21                   Chamrajanagara     6000
22                            Kolar     6000
24                          Koppala     6000
17                           Haveri     5000
0                        Kalaburagi     4060
15                       Vijayapura     4000