In [1]:
import json
import random
from pathlib import Path

import pandas as pd

%load_ext autoreload
%autoreload 2
Path.ls = lambda x: list(x.iterdir())

In [6]:
numbers_df = pd.read_csv("district_info.csv")
numbers_df

                           District  CaseCount  BusCount  QTNCount
0                        Kalaburagi          3       6.0         4
1                            Kodagu          1      27.0        47
2                   Chikkaballapura          4       0.0         9
3                            Mysuru          3      19.0       231
4                           Dharwad          1      12.0        39
5                    Uttara Kannada          4      23.0        23
6                 Dhakshina Kannada          5      82.0       756
7                             Udupi          1      29.0       414
8                            Tumkur          1       1.0        78
9                        Shivamogga          0      43.0        99
10                   Chikkamagaluru          0      32.0        27
11                       Davanagere          0      28.0        58
12                          Ballari          0      13.0        44
13                          Raichur          0      12.0        41
14                         Belagavi          0      11.0        16
15                       Vijayapura          0       5.0         4
16                            Gadag          0       3.0        16
17                           Haveri          0       3.0         5
18                           Hassan          0       1.0        75
19                        Bagalkote          0       0.0        26
20  Bengaluru (Urban, Rural & BBMP)          0       0.0      7315
21                   Chamrajanagara          0       0.0         6
22                            Kolar          0       0.0         6
23                           Kolara          0       0.0         8
24                          Koppala          0       0.0         6
25                           Mandya          0       0.0         8
26                       Ramanagara          0       0.0         8

In [20]:
df["AtRisk"] = (numbers_df["BusCount"]*60*50 / 10**5 + numbers_df["QTNCount"] / 10**3 + 20*numbers_df["CaseCount"]).astype(int)
df.sort_values(by=["Plausible"], ascending=False)[["District", "AtRisk"]]

                           District  AtRisk
6                 Dhakshina Kannada     103
5                    Uttara Kannada      80
2                   Chikkaballapura      80
3                            Mysuru      60
0                        Kalaburagi      60
7                             Udupi      21
1                            Kodagu      20
8                            Tumkur      20
4                           Dharwad      20
20  Bengaluru (Urban, Rural & BBMP)       7
9                        Shivamogga       1
11                       Davanagere       0
10                   Chikkamagaluru       0
12                          Ballari       0
18                           Hassan       0
13                          Raichur       0
14                         Belagavi       0
19                        Bagalkote       0
16                            Gadag       0
15                       Vijayapura       0
17                           Haveri       0
23                           Kolara       0
25                           Mandya       0
26                       Ramanagara       0
21                   Chamrajanagara       0
22                            Kolar       0
24                          Koppala       0